<header>
    <nav>
        <div class="nav-sub-div">
            <div>
                <p id="nav-title">ants life</p>
            </div>
            <div>
                <ul>
                    <li><a href="home.html">home</a></li>
                    <li><a href="http://m.espacepourlavie.ca/les-fourmis-la-vie-en-societe">Focus</a></li>
                    <li><a href="https://www.nouvelobs.com/sciences/20180719.OBS9911/comment-font-les-fourmis-pour-se-soigner-se-guerir-et-ne-pas-vieillir.html">Santé</a></li>
                </ul>
            </div>
        </div>
        <div class="nav-sub-div">
            <div id="div-audio">
                <audio id="son" src="foret.mp3" controls autoplay></audio>
            </div>
            <div id="div-avatar">
                <p>Marco</p>
                <img id="img-avatar" src="images/avatar_marco.svg.png">
            </div>
        </div>
    </nav>
</header>
